<AuthorizeView>
    <Authorized>
        <a href="LogOut">Log Out</a>
    </Authorized>
    <NotAuthorized>
        <a href="Register">Register</a>
        <a href="Login">Login</a>
    </NotAuthorized>
</AuthorizeView>